building_env/
building_materials_store/.env
building_materials_store/store/__pycache__/
building_materials_store/building_materials_store/__pycache__/
*.pyc
__pycache__/
.env
.env.*
.vscode/
.idea/
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
.env
.env.*
.vscode/
.idea/

# Pytest
.cache/
.coverage
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Migrations (optional, если авто-генерируешь)
**/migrations/__pycache__/
*.pyc

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
*.tar
